.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1,
.div2,
.div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centrar verticalmente */
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.searcher {
  /* Border round */
  border-radius: 10px;
}

.button {
  /* hacer que ocupe todo el ancho disponible y 20px de alto */
  width: 80%;
  height: 50px;
  /* hacer que este centrado en el espacio */
  margin: 0 auto;
  /* el texto que contenga tendrá un tamaño de 6px */
  font-size: 20px;
}

.element {
  /* Border width 10px black. Blue background */
  border: 10px solid black;
  background-color: rgb(100, 100, 255);
}